<header>
    <div class="header-wrap">
        <div class="header-top flex-between container">
            <nav>
                <ul class="nav__list">
                    <li>
                        <a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Eshop</a>
                    </li>
                    <li>
                        <a routerLink="/category" routerLinkActive="active-link">Категории</a>
                    </li>
                    <li>
                        <a routerLink="/catalog" routerLinkActive="active-link">Каталог</a>
                    </li>
                    <li>
                        <a routerLink="/product" routerLinkActive="active-link">Продукт</a>
                    </li>
                </ul>
            </nav>

            <div class="right-header">
                <div class="right-header-link" (click)="openRoute('favorites')">Избранное</div>
                <div class="right-header-link" (click)="openRoute('registration')">Регистрация</div>
            </div>
        </div>

    </div>

    <div class="input__search container">
        <app-search></app-search>
    </div>


</header>